*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Courier New', Courier, monospace;
    background-color: #2d253aff;
}
main{
    min-width: 403px;
}
a{
    text-decoration: none;
}
header{
    background: url('../images/header_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    text-align: center;
    min-width: 403px;
}
header h1{
    font-size: 10vmin;
    backdrop-filter: blur(2px);
    height: 100%;
    text-shadow: #eab49fff 1px 2px 3px;
    overflow: clip;

    /* Centering h1 */
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: sticky;
    top: -1px;
    min-width: 403px;
}
nav ul{
    background-color: #B06F8D;
    text-align: center;
    height: 60px;
    border: 3px solid #482b47ff;
    border-right: none;
    border-left: none;
    overflow: clip;
}
nav ul li{
    display: inline-block;
    position: relative;
    transform: translate(0, 6%);
    background-color: #80466cff;
    color: black;
    height: 85%;
    width: 120px;
    line-height: 55px;
    margin: 0 20px;
    border-radius: 5px;
    border: 2px solid #2d253aff;
}
nav ul li:hover{
    background-color: rgba(72, 43, 71, 0.784);
}
nav ul li:active{
    background-color: #482b47ff;
}
nav ul li a{
    display: block;
    color: #fcebd5ff;
    font-size: 20px;
}
nav ul a:hover{
    color:white;
}

section{
    color: #fcebd5ff;
    margin: 20px auto;
    text-align: center;
}
section#about img{
    margin: 0 auto;
}

/* For screens smaller than 509px */
@media screen and (max-width: 509px){
    nav ul li{
        margin: 0;
    }
}

/* For screens smaller than 403px 
@media screen and (max-width: 403px){

}
*/